@charset "utf-8";

.main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

.gallery {

  width: 520px;

  border-width: 3px;
  border-style: solid;
  border-color: red;
  ;
}

.img {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lateral {

  height: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(61, 61, 60);
}